<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/main.css}" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul>
  <li><a th:href="@{/api/root/home}">Home</a></li>
  <li><a class="active" th:href="@{/api/root/home/citizens}">Citizens</a></li>
  <li><a th:href="@{/api/root/home/vets}">Vets</a></li>
  <li><a th:href="@{/api/root/home/civics}">Civics</a></li>
  <li><a th:href="@{/logout}">Logout</a></li>
</ul>

<div id="container">
  <div id="content">
    <!--  add our html table here -->
    <table>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Passcode</th>
        <th>Code</th>
        <th>Full Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>

      <tr th:each="citizen, stat: ${citizens}">
        <form action="#" th:object="${citizen}" method="get">
          <td><span th:text="${citizen.id}">ID</span></td>
          <td th:text="${citizen.username}"></td>
          <td th:text="${citizen.passcode}"></td>
          <td th:text="${citizen.code}"></td>
          <td th:text="${citizen.fullName}"></td>
          <td th:text="${citizen.address}"></td>
          <td th:text="${citizen.phoneNumber}"></td>
          <td th:text="${citizen.email}"></td>
          <td><input class="table-button" type="submit" value="Update" th:formaction="'/api/root/users/update-citizen/' + ${citizen.code}" />
            <input class="table-button" type="submit" value="Delete" th:formaction="'/api/root/users/delete/' + ${citizen.username}" /></td>

        </form>
      </tr>

    </table>
  </div>
</div>

</body>
</html>